body{
    background-image: url(backgroundbranco.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-color: rgb(156, 123, 61);
    position: fixed;
    width: 235px;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    
}

button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
    width: 150px;        
    height: 40px;         
    padding: 10px;      
    font-size: 20px;
    margin: 30px;
    transition: all 0.5s ease;
}


button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 230px;
    padding-top: 100px;
}

input{
    width: 750px;
    height: 70px;
    border-radius: 20px;
    font-size: x-large;
     padding: 10px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.campo-gerar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.informacao{
   position: absolute;
   top: 20px;
   right: 20px;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

#Salvar{
    margin-top: 0;
}

